* {
  font-family: "Bahnschrift", sans-serif;
  /* border: 1px solid black */
}

.highlightChip:hover {
  background-color: gray;
}

.highlightChip {
  transition-duration: 0.2s;
}

.nav-wrapper {
  -webkit-app-region: drag;

}

#nav-mobile {
  border-radius: 5px;
  margin: 0 auto;
  -webkit-app-region: no-drag;
  text-decoration: none;
  list-style-type: none;
  width: max-content;
  display: flex;
}


#nav-mobile > li > a {
  text-decoration: none;
  width: max-content;
  padding: 5px;
  background-color: rgb(240, 80, 17);
  transition-duration: .5s;
  border-radius: 5px;
}

#nav-mobile > li > a:hover {
  cursor: pointer;
  background-color: rgb(240, 24, 17);
}

.brand-logo {
  font-size: 28px;
}

#choosegame {
  font-size: 40px;
}

#saving {
  display: none;
  font-size: 40px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#chips {
  display: flex;
}

body {
  background-color: rgb(174, 114, 18);
}

.chip {
  background-color: rgb(118, 174, 222);
  width: max-content;
  padding: 10px;
  border-radius: 5px;
}

.z-depth-2 {
  z-index: 2;
}

button {
  border-radius: 5px;
  transition-duration: .5s;
}

button:hover {
  background-color: gray;
  transform: scale(1.2);
}