* {
    font-family: "Bahnschrift", sans-serif;
}

.highlightChip:hover {
  background-color: gray;
}

.highlightChip {
  transition-duration: 0.2s;
}

.nav-wrapper {
    -webkit-app-region: drag;
  
}

#nav-mobile {
    -webkit-app-region: no-drag;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#chips {
  display: flex;
}

nav {
  background-color: rgb(230, 145, 9);
  border-radius: 5px;
  margin: 0 auto;
}

ul {
  text-decoration: none;
}

body {
  background-color: rgb(174, 114, 18);
}

nav > div > ul > li {
  background-color: rgb(247, 157, 13);
  text-decoration: none;
}

.chip {
  background-color: rgb(118, 174, 222);
  width: max-content;
  padding: 10px;
  border-radius: 5px;
}